html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Microsoft Yahei",sans-serif;
  background: #f2f2f2;
}
.place-section {
  margin-bottom: 30px;
}
.desc {
  margin-top: 0px;
}
.sign{
  max-width: 200px;
}
.photo {
  padding: 0 10px;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
  margin-bottom: 1rem;
}
main {
  max-width: 960px;
  margin-left: 21px;
  margin-right: 21px;
}
main > h1 {
  text-align: center;
}
.place-desc {
  max-height: 600px;
}
.map {
  display: none;
}
#map {
  height: 600px;
  max-height: 600px;
}
.pure-button {
  width: 95%;
}
.content {
  margin-top: 21px;
}
.part-places {
  display: none;
}
nav {
  display: none;
}
@media screen and (min-width: 48em) {
  .map {
    display: inline-block;
  }
  .place-desc {
    overflow-y: scroll;
  }
  main {
    margin-left: auto;
    margin-right: auto;
  }
  nav {
    display: block;
  }
  .part-places {
    display: block;
  }
  .all-places {
    display: none;
  }
}